
.header__actions-container-cart,
.header__actions-container-user,
.header__actions-container-search{
    padding: 12px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin-left: 12px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__actions-container-cart:hover,
.header__actions-container-user:hover,
.header__actions-container-search:hover{
    background-color: var(--primary-color);
}

.header__actions-container-cart-link svg,
.header__actions-container-user-link svg,
.header__actions-container-search-link i{
    line-height: 14px;
    font-size: 12p  x;
    color: var(--black-text-color);
    fill: #000;
}

.search-box {
    margin-top: 10px;
    top : 40px;
    left: 0;
    position: absolute;
}