:root{
    /* primary-color */
    --primary-color: #80b500;

     /* color */
     --white-color: #ffffff;
     --black-color: #000000;
     --light-green: #b3d362;
    /* text-color */
    --white-text-color: #ffffff;
    --black-text-color: #000000;
    --placeholder-text-color: #555555;

    /* header */
    --banner-height: 590px;
    --header-height: 120px;

   /* footer */
   --padding-left-right-footer: 40px;
}


*{
    box-sizing: border-box;;
}



html{
    font-size: 62.5%;
    line-height: 2.4rem;
    font-family: "Oswald", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.padding-t-b-10 {
    padding: 10px 0;
}

button.button {
    padding: 10px 20px;
    color: var(--black-text-color);
    background-color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button.button.primary-button {
    color: var(--white-text-color);
    background-color: var(--primary-color);
}

button.big-button {
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

button.big-button.primary-button {
    border: 1px solid var(--white-color);
}

/* button có hiệu ứng hover trượt ngang */
.button__hover--effect {
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--black-text-color);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    min-width: 150px;
    outline: none;
    overflow: hidden;
    padding: 15px 0;
    margin-top: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: border-color .2s linear;
}

.button__hover--effect:hover span {
    color: var(--black-text-color);
}

.button__hover--effect:hover::after {
    width: 0%;
}

.button__hover--effect::after {
    background-color: var(--primary-color);
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .25s linear;
    width: 100%;
}

.button__hover--effect span {
    color: var(--white-color);
    position: relative;
    transition: all .15s linear;
    z-index: 1;
}
/* end button */

.element--title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 58px;
    text-transform: capitalize;
    position:relative;
    width: 100%;
}



.bg-orange{
    background-color: rgb(255 165 0);
}


.bg-d-green{
    background-color: rgb(16 48 1);
}


.mg-left-6{
    margin-left: 6px;
}

.mg-top-32{
    margin-top: 32px;
}

.gap-32{
    gap: 32px;
}

.border-right{
    border: 0 solid #8cb2b2;
    border-right-width: 2px;
}

.border-bottom{
    border: 0 solid #e5e7eb;
    border-bottom-width: 1px;
}

.grid-col-4 {
    width: 33.33333%;
}

.grid-col-8 {
    width: 66.66667%;
}

.relative{
    position: relative;
}

/* scroll to top */
/* Add cart button */
#addCard, #scrollTopBtn {
    display: none; 
    position: fixed; 
    bottom: 140px; 
    right: 20px; 
    z-index: 99; 
    font-size: 20px;
    background-color: #d6f4ad; 
    color: var(--primary-color); 
    border: none; 
    border-radius: 50%; 
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    transition: all 0.2s ease-out;
}

#addCard:hover, #scrollTopBtn:hover {
    background-color: var(--primary-color); 
    color: var(--white-color);
    transform: translateY(-5px);
}

#scrollTopBtn {
    bottom: 70px; 
}