.header{
    font-family: "Oswald", sans-serif;
    height: 450px;
    position: relative;
}

.header__banner{
    background-position: 50%;
    position: absolute;
    height: 100%;
    width: 100%;
    object-position: center;
    background-size: cover;    
    background-image: linear-gradient(to right bottom,rgba(33,34,69,.8),rgba(33,34,69,.8)),url(https://images.unsplash.com/photo-1513223945279-4bf9e7049c9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2092&q=80);
}

.header__banner-text{
    height: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title-caption{
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 16px;
    text-transform: uppercase;
}

.header__title-main{
    font-size: 6rem;
    font-weight: 900;
    line-height: 6rem;
    color: var(--white-text-color);
}

.header__path{
    display: flex;
}

.header__path-root{
    color: #8cb2b2;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 500;
    border: 0 solid #8cb2b2;
    border-right-width: 2px;
    padding: 0 20px;
}

.header__path-sections{
    color: var(--primary-color);
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 500;
    padding: 0 20px;
}

.header .header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--header-height);
    z-index: 999;
    position: relative;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo-img{
    max-width: 54px;
    height: 100%;
}

.header__logo-text{
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--white-color);
}

.header__main{
    display: flex;
    justify-content: space-between;
}

.header__navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-items-link{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 24px;
    position: relative;
}


.header__navbar-items-link--select{
    color: var(--primary-color);
}

.header__navbar-items-link--select::after{
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    height: 2.5px;
    width: 100%;
    bottom: -8px;
    left: 0;
}

.header__navbar-items-link:last-child{
    margin-right: 0;
}

.header__actions{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__button{
    margin: 20px;
}

.header__button:hover{
    background-color: rgb(105 148 3) !important;
}

.header__actions-container{
    display: flex;
}

.header__actions-container-cart,
.header__actions-container-user,
.header__actions-container-search{
    padding: 12px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin-left: 12px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__actions-container-user::before{
    content:"";
    position: absolute;
    right:0;
    top: 30px;
    height: 20px;
    width: 50px;
}

.header__actions-container-cart:hover,
.header__actions-container-user:hover,
.header__actions-container-search:hover{
    background-color: var(--primary-color);
}

.header__actions-container-cart-link i,
.header__actions-container-user-link i,
.header__actions-container-search-link i{
    line-height: 14px;
    font-size: 12p  x;
    color: var(--black-text-color);
    fill: #000;
}

.search-box{
    background-color: var(--white-color);
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    right: 0;
    position: absolute;
}

.search-box-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e7eb;
}

.search-input{
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 16px 24px;
    border-style: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.search-input-icon{
    color: var(--primary-color);
    font-size: 1.6rem;
    margin-right: 16px;
}

.header__actions-user-list{
    background-color: var(--white-color);
    width: 140px;
    display: none;
    border-radius: 4px;
    top: 50px;
    right: 0;
    position: absolute;
    padding: 10px 20px;
    z-index: 999;
}

.header__actions-user-items{
    color: var(--black-text-color);
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    display: block;
    padding: 10px 0;
    border: 0px solid #e5e7eb;
    border-bottom-width: 1px;
}

.header__actions-user-items:hover{
    color: #0a9269;
}

.header__actions-user-items:last-child{
    border-bottom-width: 0;
}

.header__actions-container-user:hover .header__actions-user-list {
    display: block;
}


/* start - model Cart */
.model__cart{
    position: fixed;
    inset: 0;
    height: 100vh;
    display: none;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
    background-color: rgba(17, 22, 8, 0.468);
}

.model__cart-view{
    background-color: var(--white-color);
    width: 382px;
    height: 100%;
    padding: 28px;
    display: flex;
    flex-direction: column;
}

.model__cart-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.model__cart-heading{
    font-size: 2rem;
    line-height: 24px;
    font-weight: 700;
}

.model__cart-close{
    font-size: 2rem;
    line-height: 24px;
    padding:4px;
    color: var(--black-text-color);
}

.model__cart-scroll{
    overflow-y: scroll;
    margin: 20px 0;
}


/* tùy chỉnh thanh cuộn */
.model__cart-scroll::-webkit-scrollbar {
    background: #f5f5f5;
    border-radius: 4px;
    width: 4px;
}

/* Tùy chỉnh phần thanh trượt */
.model__cart-scroll::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 4px;
    width: 4px;
}


.model__cart-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 0 12px;
    padding: 16px 0;
    position: relative;
    border: 0 solid #e5e7eb;
    border-bottom-width: 1px;
}

.model__cart-items:last-child{
    border-bottom-width: 0;
}

.model__cart-items-close{
    position: absolute;
    top: 5px;
    left: -5px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    color: var(--white-text-color);   
    display: flex;
    justify-content: center;
    align-items: center;
}

.model__cart-items-img{
    width: 128px;
    height: 96px;
}

.model__cart-items-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.model__cart-items-text{
    flex: 1 1;
}

.model__cart-items-title{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: capitalize;
} 

.model__cart-items-sprice{
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 8px;
}

.model__cart-total{
    border: 0 solid #e5e7eb;
    border-bottom-width: 1px;
    border-top-width: 1px;
    margin-top: 12px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.8rem;
}

.model__cart-total-text{
    font-size: 1.8rem;
    font-weight: 700;
}

.model__cart-total-spice{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color);
}

.model__cart-button{
    display: flex;
    gap:24px;
    height: 54px;
    margin: 24px;
}

button.model__cart-button-main{
    width: 100%;
    color: var(--white-text-color);
    background-color: var(--black-color);
}

.model__cart-notify{
    font-size: 1.6rem;
    line-height: 2rem;
}


/* end - model Cart */



/* -------------------------------- START - container --------------------------------------- */

.contain {
    padding-top: 120px;
}


.content__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.content__header--title {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}


.content__header--select select {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    background-color: #eaeaea;
}

.content__header--select select option {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.content__item {
    height: 100px;
    background-color: greenyellow;
    margin-top: 20px;
}

/* pagination */

.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 60px auto 0;
    justify-content: center;
}

.page-btn {
    font-size: 14px;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.page-btn:hover {
    background-color: #f0f0f0;
}

.page-btn.active {
    background-color: #8bc34a;
    color: #fff;
    border: none;
}

.page-btn:first-child,
.page-btn:last-child {
    width: 80px;
}

/* end pagination */

.filter {
    border: 1px solid #8cb2b2;
    padding: 24px;
    border-radius: 10px;
}

.filter__header {
    margin-bottom: 10px;
}

.filter__header--icon {
    font-size: 18px;
    color: var(--primary-color)
}

.filter__header--title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.filter__item {
    padding: 10px 0;
    border-bottom: 0.8px solid #8cb2b2;
}

.filter__item:last-child {
    border-bottom: none;
}

.filter__item--name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.filter__item--item {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.filter__item--item input{
    margin-right: 10px;
}

.filter__item--item label{
    font-size: 16px;
    transform: translateY(-2px);
    text-transform: capitalize;
}


.filter__footer button {
    font-size: 16px;
    color: var(--white-text-color);
    padding: 15px 0;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.apply__filter {
    background-color: var(--primary-color);
}

.clear__filter {
    background-color: rgb(255, 47, 47);
}

.apply__filter:hover {
    background-color: rgb(130, 234, 3);
}

.clear__filter:hover {
    background-color: rgb(255, 73, 67);
}

.filter .price-values {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.filter input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: var(--primary-color);
    border-radius: 5px;
    outline: none;
}

.filter input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ce2b2b;
    border-radius: 50%;
    cursor: pointer;
}

.filter input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #564ac3;
    border-radius: 50%;
    cursor: pointer;
}

/* product */
.products__container-items{
    border: 1px solid #e5e7eb;
    margin: 40px 0 0;
}


.products__container-items:hover{
    box-shadow: 0 25px 50px -12px #d8dbe0;
}


.products__container-items-link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.products__container-items-img{
    max-width: 100%;
    max-height: 258.5px;
    background-size: contain;
    background-position: center;
    overflow: hidden;
}


.products__container-items-label{
    color: var(--white-text-color);
    font-size: 1.4rem;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    line-height: 2rem;
    background-color: var(--primary-color);
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 4px 12px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: 2;
}


.label-red{
    background-color: #df2c2c;
}




.products__container-items-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.2s ease, transform 0.3s ease;
}


.products__container-items-link:hover .products__container-items-icon {
    opacity: 1;
    transform: translateY(0);
}


button.products__btn{
    background-color: var(--white-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 0 8px;
}


button.products__btn:hover{
    background-color: var(--primary-color);
    color: var(--white-text-color);
}


.products__container-items-info{
    padding: 28px;
    font-size: 1.4rem;
}


.products__container-items-rating{
    font-family: Open Sans,sans-serif;
    font-size: 1.4rem;
    color: rgb(255, 184, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}


.products__container-items-quantily{
    color: var(--primary-color);
    line-height: 2rem;
    margin-left: 8px;
}


.products__container-items-title{
    margin: 8px 0;
    text-align: center;
    min-height: 45px;
}


.products__container-items-title:hover a{
    color: var(--primary-color);
    transition-duration: .3s;
}


.products__container-items-title-link{
    color: var(--black-text-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn hiển thị 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.products__container-items-sprices{
    display: flex;
    justify-content: center;
    align-items: center;
}


.products__container-items-sprices-new{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
}


.products__container-items-sprices-old{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-green);
    text-decoration-line: line-through;
    margin-left: 8px;
}


.products__container-arrow{
    position: absolute;
    width: 100%;
    top: 46%;
    display: flex;
    justify-content: space-between;
}


.products__container-arrow-btn{
    background-color: var(--white-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    border: 1px solid #e5e7eb;
    color: var(--primary-color);
    margin: 0 18px;
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.2s ease, transform 0.3s ease;
}


.products__container:hover .products__container-arrow-btn{
    opacity: 1;
    transform: translateY(0);
}

.contain__product{
    padding-top: 98px;
}

.contain__product-heading{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 4.8rem;
    margin-bottom: 48px;
}

#products-content .splide__arrow{
    background-color: var(--white-color);
    border: none;
    border-radius: 50%;
    font-size: 16px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin: 6px 16px;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

#products-content .splide__arrow:hover{
    background-color: var(--primary-color);

}

#products-content:hover .splide__arrow{
    opacity: 1;
}

.products-scene{
    padding-bottom: 112px;
}

.products-main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* --------------------------------  START - footer --------------------------------------- */
.footer {
    position: relative;
    margin-top: 84px;
}

/* footer-contain */
.footer__contain {
    padding: 164px var(--padding-left-right-footer) 56px;
    background-color: #f7f5eb;
}

.footer__logo {
    margin: 0 0 24px;
    width: 40%;
}

.footer__descr {
    font-size: 16px;
    color: var(--black-text-color);
    margin: 0 0 24px;
    line-height: 1.5;
    width: 80%;
}

.footer__item--title {
    font-size: 20px;
    font-weight: 700;       
    color: var(--black-text-color) ;
    margin: 0 0 24px;
    text-transform: capitalize;
}

.footer__item {
    padding: 10px 0;
}

.footer__item--link {
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px 0 0;
    text-transform: capitalize;
    color: var(--black-text-color);
}

.footer__item--link:hover {
    text-decoration: underline;
}

.footer .email-form {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.footer .email-form input[type="email"] {
    flex: 1;
    border: none;
    padding: 20px 15px;
    font-size: 16px;
    color: var(--placeholder-text-color);
    outline: none;
}

.footer .email-form button {
    background-color: var(--primary-color);
    border: none;
    padding: 20px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .email-form button i {
    font-size: 16px;
    color: white;
}
/* End - footer-contain */


/* footer-copyright */
.footer__copyright {
    padding: var(--padding-left-right-footer);
    background-color: #0f172a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright--left {
    margin: 0 -10px;

}
.copyright--right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -10px;

}

.copyright--text {
    font-size: 16px;
    color: var(--white-text-color);
    text-transform: capitalize;
    margin: 0 10px;
}
/* END - footer-copyright */

/* footer-risr */
.footer__border-right--item {
    border-right: 1px solid #666666;
}

.footer__border-right--item:last-child {
    border-right: none;
}
.footer__rise {
    position: absolute;
    width: calc(100% - var(--padding-left-right-footer) * 2);
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    background-color: var(--white-color);
    padding: 40px 0;
}

.footer__rise--item {
    display: flex;
    align-items: center;
    padding: 0 32px;
}

.rise__item--img {
    display: flex;
    align-items: center;
    width: 20%;
}

.rise__item--img img{
    width: 100%;
}

.rise__item--content {
    margin: 0 0 0 20px;
}

.rise__item--title {
    font-size: 16px;
    font-weight: 700;
    color: var(--black-text-color);
}

.rise__item--descr  {
    font-size: 14px;
    color: var(--black-text-color);
    margin: 12px 0 0;
    /* line-height: 1.5; */
}

.rise__item--border--right {
    border-right: 1px solid #333333;
}